---
releases:
- name: bpm
  version: "1.0.3"
  url: "https://bosh.io/d/github.com/cloudfoundry/bpm-release?v=1.0.3"
  sha1: "5116e990fe1572331dbaf79fa7c5559d0ce793a8"
- name: cf-mysql
  url: https://bosh.io/d/github.com/cloudfoundry/cf-mysql-release?v=36.15.0
  version: 36.15.0
  sha1: 0764d9d6aae7cefd10019437ed83e7715e614633
- name: pxc
  url: https://bosh.io/d/github.com/cloudfoundry-incubator/pxc-release?v=0.16.0
  version: 0.16.0
  sha1: eb53d366af2d6e49e8c2ac834191547b2ba44d30
- name: uaa
  version: 68.0
  url: https://bosh.io/d/github.com/cloudfoundry/uaa-release?v=68.0
  sha1: a06e5390463c760bcbcc0bacaec063f41a5ea089
- name: scf-helper
  version: 1.0.1
  url: https://s3.amazonaws.com/suse-final-releases/scf-helper-release-1.0.1.tgz
  sha1: 94bb4357cbe5fa07ddeb7efef1d1f7a2af8dfead

instance_groups:
- name: mysql
  scripts:
  - scripts/create_mysql_data_tmp.sh # Deprecated. Should go away with cf-mysql-release.
  - scripts/chown_vcap_store.sh
  - scripts/pxc/create_directories.sh
  - scripts/patches/fix_mysql_advertise_ip.sh # Deprecated. Should go away with cf-mysql-release.
  - scripts/forward_logfiles.sh
  - scripts/patches/fix_monit_rsyslog.sh
  post_config_scripts:
  - scripts/bpm_kube_dns.rb
  jobs:
  - name: global-uaa-properties # needs to be first so images use it for processing monit templates.
    release: scf-helper
  - name: patch-properties
    release: scf-helper
  - name: pxc-mysql
    release: pxc
    provides:
      mysql: {}
    properties:
      bosh_containerization:
        ports:
        - name: pxc-mysql
          protocol: TCP
          internal: 3306
        - name: galera-tcp
          protocol: TCP
          internal: 4567
        - name: galera-agent
          protocol: TCP
          internal: 9200
        run:
          scaling:
            min: 1
            max: 7
            ha: 3
          volumes:
          - path: /var/vcap/store
            type: persistent
            tag: mysql-data
            size: 20
          memory: 2500
          virtual-cpus: 2
          healthcheck:
            readiness:
              command:
              - "[[ $(curl --silent http://${HOSTNAME}:9200/api/v1/status | jq '.healthy') == true ]]"
          affinity:
            podAntiAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                    - key: "app.kubernetes.io/component"
                      operator: In
                      values:
                      - mysql
                  topologyKey: "beta.kubernetes.io/os"
  - name: galera-agent
    release: pxc
  - name: gra-log-purger
    release: pxc
  - name: cluster-health-logger
    release: pxc
  - name: bootstrap
    release: pxc
  - name: mysql
    release: cf-mysql
  - name: bpm
    release: bpm
    properties:
      bosh_containerization:
        run:
          privileged: true
  tags:
  - sequential-startup
  configuration:
    templates:
      properties.admin_password: ((MYSQL_ADMIN_PASSWORD))

      # Deprecation start. Should go away with cf-mysql-release. >>
      properties.cf_mysql.mysql.admin_password: ((MYSQL_ADMIN_PASSWORD))
      properties.cf_mysql.mysql.cluster_health.password: ((MYSQL_CLUSTER_HEALTH_PASSWORD))
      properties.cf_mysql.mysql.galera_healthcheck.db_password: ((MYSQL_ADMIN_PASSWORD))
      properties.cf_mysql.mysql.galera_healthcheck.endpoint_password: ((MYSQL_GALERA_HEALTHCHECK_ENDPOINT_PASSWORD))
      # << Deprecation end

      properties.db_password: ((MYSQL_ADMIN_PASSWORD))
      properties.endpoint_password: ((MYSQL_GALERA_HEALTHCHECK_ENDPOINT_PASSWORD))
      properties.engine_config.binlog.enabled: false
      properties.engine_config.galera.enabled: true
      properties.max_open_files: 1500
      properties.monit_startup_timeout: 300
      properties.seeded_databases: '[{"name":"uaadb", "username": "uaaadmin", "password":"((UAADB_PASSWORD))"}]'
      properties.tls.galera.ca: ((INTERNAL_CA_CERT))
      properties.tls.galera.certificate: ((GALERA_SERVER_CERT))
      properties.tls.galera.private_key: ((GALERA_SERVER_CERT_KEY))
      properties.tls.server.ca: ((INTERNAL_CA_CERT))
      properties.tls.server.certificate: ((MYSQL_SERVER_CERT))
      properties.tls.server.private_key: ((MYSQL_SERVER_CERT_KEY))
- name: mysql-proxy
  scripts:
  - scripts/forward_logfiles.sh
  - scripts/patches/fix_monit_rsyslog.sh
  post_config_scripts:
  - scripts/bpm_kube_dns.rb
  jobs:
  - name: global-uaa-properties # needs to be first so images use it for processing monit templates.
    release: scf-helper
  - name: proxy
    release: pxc
    provides:
      proxy: {}
    properties:
      bosh_containerization:
        ports:
        - name: api-proxy
          protocol: TCP
          internal: 8083
        - name: pxc-mysql-proxy
          protocol: TCP
          internal: 3306
        - name: healthck-proxy
          protocol: TCP
          internal: 1936
        run:
          scaling:
            min: 1
            max: 5
            ha: 2
          memory: 2500
          virtual-cpus: 2
          healthcheck:
            readiness:
              command:
              - curl --silent --fail --head http://${HOSTNAME}:1936/
          affinity:
            podAntiAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                    - key: "app.kubernetes.io/component"
                      operator: In
                      values:
                      - mysql
                  topologyKey: "beta.kubernetes.io/os"
  - name: bpm
    release: bpm
    properties:
      bosh_containerization:
        run:
          privileged: true
  tags:
  - sequential-startup
  configuration:
    templates:
      properties.api_force_https: false
      properties.api_password: ((MYSQL_PROXY_ADMIN_PASSWORD))
      properties.api_port: 8083
      properties.api_uri: mysql-proxy-set.((KUBERNETES_NAMESPACE)).svc.((KUBERNETES_CLUSTER_DOMAIN))((#KUBE_SIZING_MYSQL_COUNT))((/KUBE_SIZING_MYSQL_COUNT))
      properties.api_username: mysql_proxy

- name: uaa
  environment_scripts:
  - scripts/log_level_mappings.sh
  scripts:
  - scripts/authorize_internal_ca.sh
  - scripts/patches/fix_uaa_monit_timeout.sh
  - scripts/patches/fix_monit_rsyslog.sh
  - scripts/forward_logfiles.sh
  jobs:
  - name: global-uaa-properties # needs to be first so images use it for processing monit templates
    release: scf-helper
  - name: wait-for-database
    release: scf-helper
  - name: uaa
    release: uaa
    properties:
      bosh_containerization:
        run:
          scaling:
            ha: 2
            min: 1
            max: 65535
          capabilities: []
          persistent-volumes: []
          shared-volumes: []
          memory: 2100
          virtual-cpus: 2
          healthcheck:
            readiness:
              command:
              - "curl --resolve uaa.${DOMAIN}:8443:$(getent hosts ${HOSTNAME} | awk '{ print $1 }') --fail -H \"Host: uaa.${DOMAIN}\" -H 'Accept: application/json' https://uaa.${DOMAIN}:8443/info"
        ports:
        - name: uaa
          protocol: TCP
          external: 8080
          internal: 8080
          public: false
        - name: uaa-ssl
          protocol: TCP
          external: 2793
          internal: 8443
          public: true
  tags:
  - sequential-startup
  configuration:
    templates:
      properties.login.smtp.auth: ((SMTP_AUTH))
      properties.login.smtp.from_address: ((SMTP_FROM_ADDRESS))
      properties.login.smtp.host: ((SMTP_HOST))
      properties.login.smtp.password: ((SMTP_PASSWORD))
      properties.login.smtp.port: ((SMTP_PORT))
      properties.login.smtp.starttls: ((SMTP_STARTTLS))
      properties.login.smtp.user: ((SMTP_USER))
      properties.uaa.logging_level: ((LOG_LEVEL_LOG4J))((#LOG_LEVEL))((/LOG_LEVEL))
      properties.uaadb.roles: '[{"name": "uaaadmin", "password": "((UAADB_PASSWORD))", "tag": "admin"}]'
      properties.wait-for-database.hostname: mysql-proxy-set
      properties.wait-for-database.port: 3306
- name: secret-generation
  type: bosh-task
  jobs:
  - name: generate-secrets
    release: scf-helper
    properties:
      bosh_containerization:
        run:
          scaling:
            min: 1
            max: 1
          flight-stage: pre-flight
          capabilities: []
          persistent-volumes: []
          shared-volumes: []
          memory: 256
          virtual-cpus: 1
          service-account: secret-generator
  configuration:
    templates:
      properties.scf.secrets.cert_expiration: ((CERT_EXPIRATION))
      properties.scf.secrets.cluster_domain: ((KUBERNETES_CLUSTER_DOMAIN))
      properties.scf.secrets.domain: ((DOMAIN))
      properties.scf.secrets.generation: ((KUBE_SECRETS_GENERATION_COUNTER))
      properties.scf.secrets.is_install: ((HELM_IS_INSTALL))
      properties.scf.secrets.name: ((KUBE_SECRETS_GENERATION_NAME))
      properties.scf.secrets.namespace: ((KUBERNETES_NAMESPACE))
configuration:
  auth:
    roles:
      configgin-role:
      - apiGroups: [""]
        resources: [pods]
        verbs: [get, list, patch]
      - apiGroups: [""]
        resources: [services]
        verbs: [get]
      - apiGroups: [apps]
        resources: [statefulsets]
        verbs: [get, patch]
      secrets-role:
      - apiGroups: [""]
        resources: [configmaps ,secrets]
        verbs: [create, get, list, patch, update, delete]
      psp-role:
      - apiGroups: [extensions]
        resourceNames: [default]
        resources: [podsecuritypolicies]
        verbs: [use]
    pod-security-policies:
      default:
        allowPrivilegeEscalation: true
        allowedCapabilities: ["*"]
        defaultAllowPrivilegeEscalation: true
        fsGroup: { rule: RunAsAny }
        privileged: true
        runAsUser: { rule: RunAsAny }
        seLinux: { rule: RunAsAny }
        supplementalGroups: { rule: RunAsAny }
        volumes:
        - configMap
        - secret
        - emptyDir
        - downwardAPI
        - projected
        - persistentVolumeClaim
        - nfs
    accounts:
      default:
        roles: [configgin-role, psp-role]
      secret-generator:
        roles: [configgin-role, secrets-role, psp-role]
  templates:
    index: ((KUBE_COMPONENT_INDEX))((^KUBE_COMPONENT_INDEX))0((/KUBE_COMPONENT_INDEX))
    ip: '"((IP_ADDRESS))"'
    networks.default.dns_record_name: '"((DNS_RECORD_NAME))"'
    networks.default.ip: '"((IP_ADDRESS))"'
    properties.encryption.encryption_keys: '[{"label":"smorgasbrod","passphrase":"((AEK_PASSWORD))"}]'
    properties.fissile.monit.password: '"((MONIT_PASSWORD))"'
    properties.login.saml.serviceProviderCertificate: '"((SAML_SERVICEPROVIDER_CERT))"'
    properties.login.saml.serviceProviderKey: '"((SAML_SERVICEPROVIDER_CERT_KEY))"'
    properties.login.url: "https://login.((DOMAIN)):((UAA_PUBLIC_PORT))"
    properties.uaa.admin.client_secret: '"((UAA_ADMIN_CLIENT_SECRET))"'
    properties.uaa.clients: '{"default_zone_admin": {"secret": "((UAA_ADMIN_CLIENT_SECRET))", "authorized-grant-types": "client_credentials", "scope": "uaa.admin", "authorities": "uaa.admin"}}'
    properties.uaa.clients.default_zone_admin.secret: '"((UAA_ADMIN_CLIENT_SECRET))"'
    # Dummy reference to JWT_SIGNING_CERT so that fissile validator doesn't complain that it is not being used
    properties.uaa.jwt.policy.keys.default.signingKey: ((JWT_SIGNING_CERT_KEY))((#JWT_SIGNING_CERT))((/JWT_SIGNING_CERT))
    # Save INTERNAL_CA cert and key in the kube secrets, so that a future update can use them to sign additional certs
    properties.uaa.sslCertificate: ((UAA_SERVER_CERT))((#INTERNAL_CA_CERT))((/INTERNAL_CA_CERT))
    properties.uaa.sslPrivateKey: ((UAA_SERVER_CERT_KEY))((#INTERNAL_CA_CERT_KEY))((/INTERNAL_CA_CERT_KEY))
    properties.uaa.url: "https://uaa.((DOMAIN)):((UAA_PUBLIC_PORT))"
    properties.uaa.zones.internal.hostnames: >-
      [
        "uaa",
        "uaa.((KUBERNETES_NAMESPACE))",
        "uaa.((KUBERNETES_NAMESPACE)).svc",
        "uaa.((KUBERNETES_NAMESPACE)).svc.((KUBERNETES_CLUSTER_DOMAIN))"
      ]
variables:
- name: AEK_PASSWORD
  options:
    secret: true
    immutable: true
    description: Password used for the active uaa encryption key.
  type: password
- name: CERT_EXPIRATION
  options:
    description: Expiration for generated certificates (in days)
    default: 10950
- name: DOMAIN
  options:
    description: Base domain name of the UAA endpoint; `uaa.${DOMAIN}` must be correctly
      configured to point to this UAA instance.
    required: true
- name: GALERA_SERVER_CERT
  options:
    secret: true
    ca: INTERNAL_CA_CERT
    alternative_names:
    - galera_server_certificate
    description: A PEM-encoded TLS certificate for the Galera server.
    required: true
  type: certificate
- name: GALERA_SERVER_CERT_KEY
  options:
    secret: true
    description: A PEM-encoded TLS key for the Galera server.
    required: true
- name: HELM_IS_INSTALL
  options:
    type: environment
    description: >
      This is an environment variable built-in by fissile.
      It's set directly from the Release.IsInstall Helm property.
- name: INTERNAL_CA_CERT
  options:
    secret: true
    is_ca: true
    description: PEM-encoded CA certificate used to sign the TLS certificate used
      by all components to secure their communications.
    required: true
  type: certificate
- name: INTERNAL_CA_CERT_KEY
  options:
    secret: true
    description: PEM-encoded CA key.
    required: true
- name: JWT_SIGNING_CERT
  options:
    secret: true
    is_ca: true
    description: PEM-encoded JWT certificate.
    required: true
  type: certificate
- name: JWT_SIGNING_CERT_KEY
  options:
    secret: true
    description: PEM-encoded JWT signing key.
    required: true
- name: KUBERNETES_CLUSTER_DOMAIN
  options:
    type: environment
    description: >
      The cluster domain used by Kubernetes.
      If left empty, each container will try to determine the correct value based on /etc/resolv.conf
      You can read more about it in the Kubernetes Documentation https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/
- name: KUBERNETES_NAMESPACE
  options:
    type: environment
    description: 'The name of the kubernetes namespace all components will run in.
      This parameter cannot be set by the user. Its value is supplied by the kubernetes
      runtime.

'
- name: KUBE_COMPONENT_INDEX
  options:
    type: environment
    description: >
      This is an environment variable built-in by fissile.
      It's set to a numeric index for roles with multiple replicas.
- name: KUBE_SECRETS_GENERATION_COUNTER
  options:
    type: environment
    description: >
      This is an environment variable built-in by fissile.
      It's automatically set to the kube.secrets_generation_counter Helm value, which controls secret rotation.
- name: KUBE_SECRETS_GENERATION_NAME
  options:
    type: environment
    description: >
      This is an environment variable built-in by fissile.
      Its default value is 'secret-1' and cannot be set by the user.
- name: KUBE_SIZING_MYSQL_COUNT
  options:
    description: The number of mysql replicas deployed. This value is set automatically
      by the helm charts of SCF.
- name: LOG_LEVEL
  options:
    default: info
    description: 'The cluster''s log level: off, fatal, error, warn, info, debug,
      debug1, debug2.'
    required: true
- name: LOG_LEVEL_LOG4J
  options:
    type: environment
    description: 'The log level for Log4j-using components.  This parameter is not
      supposed to be set by the user.  To change the cluster''s log level set the
      parameter `LOG_LEVEL` above instead, from which this one is derived.

'
- name: MONIT_PASSWORD
  options:
    secret: true
    description: Password used for the monit API.
  type: password
- name: MYSQL_ADMIN_PASSWORD
  options:
    secret: true
    description: The password for the MySQL server admin user.
    required: true
  type: password
- name: MYSQL_CLUSTER_HEALTH_PASSWORD
  options:
    secret: true
    description: The password for the cluster logger health user.
    required: true
  type: password
- name: MYSQL_GALERA_HEALTHCHECK_ENDPOINT_PASSWORD
  options:
    secret: true
    description: Password used to authenticate to the MySQL Galera healthcheck endpoint.
    required: true
  type: password
- name: MYSQL_PROXY_ADMIN_PASSWORD
  options:
    secret: true
    description: The password for Basic Auth used to secure the MySQL proxy API.
    required: true
  type: password
- name: MYSQL_SERVER_CERT
  options:
    secret: true
    ca: INTERNAL_CA_CERT
    alternative_names:
    - "mysql-set.{{ .KUBERNETES_NAMESPACE }}.svc.{{ .KUBERNETES_CLUSTER_DOMAIN }}"
    - "mysql-proxy-set.{{ .KUBERNETES_NAMESPACE }}.svc.{{ .KUBERNETES_CLUSTER_DOMAIN }}"
    description: A PEM-encoded TLS certificate for the MySQL server.
    required: true
  type: certificate
- name: MYSQL_SERVER_CERT_KEY
  options:
    secret: true
    description: A PEM-encoded TLS key for the MySQL server.
    required: true
- name: SAML_SERVICEPROVIDER_CERT
  options:
    secret: true
    ca: INTERNAL_CA_CERT
    description: PEM-encoded certificate
  type: certificate
- name: SAML_SERVICEPROVIDER_CERT_KEY
  options:
    secret: true
    description: PEM-encoded key.
- name: SCF_LOG_HOST
  options:
    internal: true
    description: The log destination to talk to. This has to point to a syslog server.
- name: SCF_LOG_PORT
  options:
    internal: true
    description: The port used by rsyslog to talk to the log destination. It defaults
      to 514, the standard port of syslog.
    default: 514
- name: SCF_LOG_PROTOCOL
  options:
    internal: true
    default: tcp
    description: The protocol used by rsyslog to talk to the log destination. The
      allowed values are tcp, and udp. The default is tcp.
    required: true
- name: SMTP_AUTH
  options:
    default: false
    description: >
      If true, authenticate against the SMTP server using AUTH command.
      See https://javamail.java.net/nonav/docs/api/com/sun/mail/smtp/package-summary.html
- name: SMTP_FROM_ADDRESS
  options:
    description: SMTP from address, for password reset emails etc.
- name: SMTP_HOST
  options:
    description: SMTP server host address, for password reset emails etc.
- name: SMTP_PASSWORD
  options:
    description: SMTP server password, for password reset emails etc.
- name: SMTP_PORT
  options:
    default: 25
    description: SMTP server port, for password reset emails etc.
- name: SMTP_STARTTLS
  options:
    default: false
    description: >
      If true, send STARTTLS command before logging in to SMTP server.
      See https://javamail.java.net/nonav/docs/api/com/sun/mail/smtp/package-summary.html
- name: SMTP_USER
  options:
    description: SMTP server username, for password reset emails etc.
- name: UAADB_PASSWORD
  options:
    secret: true
    description: The password for access to the UAA database.
  type: password
- name: UAA_ADMIN_CLIENT_SECRET
  options:
    secret: true
    description: The password of the admin client - a client named admin with uaa.admin
      as an authority.
    required: true
- name: UAA_PUBLIC_PORT
  options:
    default: 2793
    description: The TCP port to report as the public port for the UAA server (root zone).
- name: UAA_SERVER_CERT
  options:
    secret: true
    ca: INTERNAL_CA_CERT
    role_name: uaa
    alternative_names:
    - uaa.{{.DOMAIN}}
    - "*.uaa.{{.DOMAIN}}"
    description: The server's ssl certificate. The default is a self-signed certificate
      and should always be replaced for production deployments.
  type: certificate
- name: UAA_SERVER_CERT_KEY
  options:
    secret: true
    description: The server's ssl private key. Only passphrase-less keys are supported.
