# vim: set filetype=sh :

if type -t source_up >/dev/null ; then
    # Only needed under direnv
    source_up
fi

if type -t PATH_add >/dev/null ; then
    # PATH modification is optional; ignore if we're not using direnv
    PATH_add ../fissile/build/linux-amd64/
fi

export FISSILE_RELEASE=${PWD}/src/uaa-release,${PWD}/src/cf-mysql-release,${PWD}/src/hcf-release
export FISSILE_ROLE_MANIFEST=${PWD}/role-manifest.yml
export FISSILE_LIGHT_OPINIONS=${PWD}/opinions.yml
export FISSILE_DARK_OPINIONS=${PWD}/dark-opinions.yml
export FISSILE_WORK_DIR=${PWD}/work-dir
export FISSILE_DOCKER_REGISTRY=192.168.122.1:5000
export FISSILE_REPOSITORY=uaa
