#!/usr/bin/env bash
# This file is both used via direnv, as well as by directly sourcing it in a
# shell (when being run from CI).

if type source_up >/dev/null 2>/dev/null; then
    # Using direnv; load any higher up .envrc
    source_up || true
else
    PWD="$(cd "$(dirname "${BASH_SOURCE[0]:-${KSH_VERSION:+${.sh.file}}${KSH_VERSION:-$0}}")" && pwd)"
fi
export FISSILE_GIT_ROOT=$PWD

if test -d ../scf/output/bin/ ; then
    PATH="$(cd ../scf/output/bin/ && pwd)${PATH:+:${PATH}}"
fi
if test -d ../fissile/build/linux-amd64/ ; then
    PATH="$(cd ../fissile/build/linux-amd64/ && pwd)${PATH:+:${PATH}}"
fi

# The Docker repository name used for images, the registry itself, and the org to use.
# Note, this replaces "make/include/registry" and its IMAGE_* variables
export FISSILE_REPOSITORY=${FISSILE_REPOSITORY:-uaa}
export FISSILE_DOCKER_REGISTRY="${FISSILE_DOCKER_REGISTRY:+${FISSILE_DOCKER_REGISTRY%/}/}"
export FISSILE_DOCKER_ORGANIZATION=${FISSILE_DOCKER_ORGANIZATION:-'splatform'}

export FISSILE_ROLE_MANIFEST="${PWD}/container-host-files/etc/scf/config/role-manifest.yml"
export FISSILE_LIGHT_OPINIONS="${PWD}/container-host-files/etc/scf/config/opinions.yml"
export FISSILE_DARK_OPINIONS="${PWD}/container-host-files/etc/scf/config/dark-opinions.yml"
export FISSILE_WORK_DIR="${FISSILE_WORK_DIR:-$HOME/.fissile/uaa-work-dir}"
export FISSILE_CACHE_DIR="${FISSILE_CACHE_DIR:-$HOME/.bosh/cache}"

# The fissile stemcell image that is used as the base
export FISSILE_STEMCELL=${FISSILE_STEMCELL:-splatform/fissile-stemcell-opensuse:42.2-6.ga651b2d-28.33}

# The following is for fish support: run this script as `bash $0 fish`, and it
# will print out the fish commands for you to source.
if test "${BASH_ARGV:+${BASH_ARGV[0]}}" = "fish" ; then
    for var in $(env | grep -E '^FISSILE_' | cut -d= -f1) ; do
        echo "set -x ${var} '${!var}'"
    done
fi

if ! type source_up >/dev/null 2>/dev/null; then
    # Restore the variable from the start of the script
    PWD="$(pwd)"
fi
