#!/usr/bin/env bash
# This file is both used via direnv, as well as by directly sourcing it in a
# shell (when being run from CI).

if type source_up >/dev/null 2>/dev/null; then
    # Using direnv; load any higher up .envrc
    source_up || true
else
    PWD="$(cd "$(dirname "${BASH_SOURCE[0]:-${KSH_VERSION:+${.sh.file}}${KSH_VERSION:-$0}}")" && pwd)"
fi

if test -d ../hcf/output/bin/ ; then
    PATH="$(cd ../hcf/output/bin/ && pwd)${PATH:+:${PATH}}"
fi
if test -d ../fissile/build/linux-amd64/ ; then
    PATH="$(cd ../fissile/build/linux-amd64/ && pwd)${PATH:+:${PATH}}"
fi

FISSILE_RELEASE=""
FISSILE_RELEASE="${FISSILE_RELEASE},${PWD}/src/uaa-release"
FISSILE_RELEASE="${FISSILE_RELEASE},${PWD}/src/cf-mysql-release"
FISSILE_RELEASE="${FISSILE_RELEASE},${PWD}/src/hcf-release"
export FISSILE_RELEASE="${FISSILE_RELEASE#,}"

export FISSILE_ROLE_MANIFEST="${PWD}/role-manifest.yml"
export FISSILE_LIGHT_OPINIONS="${PWD}/opinions.yml"
export FISSILE_DARK_OPINIONS="${PWD}/dark-opinions.yml"
export FISSILE_WORK_DIR="${PWD}/work-dir"
export FISSILE_REPOSITORY="uaa"

# The fissile stemcell image that is used as the base
export FISSILE_STEMCELL=splatform/fissile-stemcell-opensuse:42.2-0.g58a22c9-28.16

# The following is for fish support: run this script as `bash $0 fish`, and it
# will print out the fish commands for you to source.
if test "${BASH_ARGV:+${BASH_ARGV[0]}}" = "fish" ; then
    for var in $(env | grep -E '^FISSILE_' | cut -d= -f1) ; do
        echo "set -x ${var} '${!var}'"
    done
fi

if ! type source_up >/dev/null 2>/dev/null; then
    # Restore the variable from the start of the script
    PWD="$(pwd)"
fi
