/work-dir/
/env/certs.env
/kube-test/bosh/
/kube-test/bosh-task/
.dev_builds/
/src/*-release/config/dev.yml
/src/*-release/dev_releases/
/src/*-release/blobs/
/kube
/helm
/*.zip
uaa_metrics.csv
/bosh/
/helm/
/secrets/
