{{- if .Values.services.ingress -}}
---
# The cert and the key cannot be filled automatically. If we could it
# would roughly look like the lines below. As is it is the
# responsibility of the operator to retrieve the values of these
# secrets from the deployed UAA and update this secret with the actual
# values. And the responsibility of the developer to supply the proper
# instructions to the operator.
##
# tls.crt: {{ default "" .Values.secrets.UAA_SERVER_CERT     | b64enc | quote }}
# tls.key: {{ default "" .Values.secrets.UAA_SERVER_CERT_KEY | b64enc | quote }}

apiVersion: "v1"
kind: "Secret"
type: kubernetes.io/tls
metadata:
  name: "{{ .Values.services.ingress.class }}-ingress-tls"
  namespace: "{{ .Release.Namespace }}"
data:
  tls.crt: ""
  tls.key: ""
---
apiVersion: "extensions/v1beta1"
kind: "Ingress"
metadata:
  name: "{{ .Release.Name }}-{{ .Values.services.ingress.class }}"
  namespace: "{{ .Release.Namespace }}"
  annotations:
    kubernetes.io/ingress.class: {{ .Values.services.ingress.class }}
    {{ if eq .Values.services.ingress.class "nginx" -}}
    nginx.ingress.kubernetes.io/secure-backends: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/ssl-redirect: "false" # Doesn't enforce HTTPS.
    {{- end }}
spec:
  tls:
  - secretName: "{{ .Values.services.ingress.class }}-ingress-tls"
    hosts:
    - "*.uaa.{{ .Values.env.DOMAIN }}"
    - "uaa.{{ .Values.env.DOMAIN }}"
  rules:
    - host: "*.uaa.{{ .Values.env.DOMAIN }}"
      http:
        paths:
          - path: "/"
            backend:
              serviceName: "uaa-uaa"
              servicePort: {{ .Values.services.ingress.backends.uaa.port }}
    - host: "uaa.{{ .Values.env.DOMAIN }}"
      http:
        paths:
          - path: "/"
            backend:
              serviceName: "uaa-uaa"
              servicePort: {{ .Values.services.ingress.backends.uaa.port }}
{{- end }}
